@page "/admin/categories"

<PageTitle>K & A Dreamdeals - Categories</PageTitle>

<h3>Categories</h3>

@if (_categoryService != null)
{
    <table class="table table-sm mb-4">
        <thead class="table-dark thead-sticky">
            <tr>
                <th>Name</th>
                <th>Url</th>
                <th style="width: 5rem;">Visible</th>
                <th style="width: 7rem;">
                    <button class="btn btn-success float-end" @onclick="CreateNewCategory">
                        <i class="oi oi-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (_categoryService.AdminCategories == null)
            {
                <tr>
                    <td colspan="12">
                        <Loading Style="min-height:calc(100vh - 40rem);" />
                    </td>
                </tr>
            }
            else
            {
                @foreach (var category in _categoryService.AdminCategories)
                {
                    <tr>
                        @if (category.Editing)
                        {
                            <td>
                                <input type="text" id="Name" value="@category.Name" @onchange="@((ChangeEventArgs e) => UpdateCategoryName(e, category))" class="form-control" />
                            </td>
                            <td>
                                <input type="text" id="Url" value="@category.Url" @onchange="@((ChangeEventArgs e) => UpdateCategoryUrl(e, category))" class="form-control" />
                            </td>
                            <td class="text-center">
                                <input type="checkbox" id="scales" name="scales" checked="@category.Visible" @onchange="@((ChangeEventArgs e) => UpdateCategoryVisible(e, category))" />
                            </td>
                            <td class="text-end">
                                <button class="btn @(category.IsNew ? "btn-success" : "btn-warning")" @onclick="(() => UpdateCategory(category))">
                                    @if (category.IsNew)
                                    {
                                        <i class="fas fa-save"></i>
                                    }
                                    else
                                    {
                                        <i class="oi oi-cloud-upload"></i>
                                    }
                                </button>
                                <button class="btn btn-secondary" @onclick="CancelEditing">
                                    <i class="oi oi-x"></i>
                                </button>
                            </td>
                        }
                        else
                        {
                            <td>
                                @category.Name
                            </td>
                            <td>
                                @category.Url
                            </td>
                            <td class="text-center">
                                <span>@(category.Visible ? "✔️" : "")</span>
                            </td>
                            <td class="text-end">
                                <button class="btn btn-info" @onclick="(() => EditCategory(category))">
                                    <i class="oi oi-pencil"></i>
                                </button>
                                <button class="btn btn-danger" @onclick="(() => DeleteCategory(category.Id))">
                                    <i class="oi oi-trash"></i>
                                </button>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <Alert Type="danger" Message="Problem with the Inject function!!!" />
}
