@page "/admin/products"

<PageTitle>K & A Dreamdeals - Products</PageTitle>

<h3>Products</h3>

<table class="table table-sm mb-4">
    <thead class="table-dark thead-sticky">
        <tr>
            <th style="width: 7rem;"></th>
            <th>Product</th>
            <th>Variant</th>
            <th>Price</th>
            <th>Stock</th>
            <th style="width: 5rem;">Visible</th>
            <th style="width: 5rem;">Featured</th>
            <th style="width: 7rem;">
                <button class="btn btn-success float-end" @onclick="CreateProduct">
                    <i class="oi oi-plus"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (_productService.AdminProducts == null)
        {
            <tr>
                <td colspan="12">
                    <Loading Style="min-height:calc(100vh - 40rem);" />
                </td>
            </tr>
        }
        else
        {
            <Virtualize Items="_productService.AdminProducts" Context="product">
                <tr>
                    <td>
                        @if (product.ProductImages != null && product.ProductImages.Count > 0)
                    {
                        <img src="@product.ProductImages[0].ImageUrl" width="100" height="50" />
                    }
                </td>
                <td>@product.Title</td>
                <td>
                    @foreach (var variant in product.Variants)
                    {
                        <span>@variant.ProductType.Name</span>

                        <br />
                    }
                </td>
                <td>
                    @foreach (var variant in product.Variants)
                    {
                        <span>@variant.Price€</span>

                        <br />
                    }
                </td>
                <td>
                    @foreach (var variant in product.Variants)
                    {
                        <span>@variant.Stock</span>

                        <br />
                    }
                </td>
                <td class="text-center">
                    <i class="oi @(IsVisible(product))"></i>
                </td>
                <td class="text-center">
                    <i class="oi @(IsFeatured(product))"></i>
                </td>
                <td class="text-end">
                    <button class="btn btn-info" @onclick="(() => EditProduct(product.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                    <button class="btn btn-danger" @onclick="(() => DeleteProductAsync(product))">
                        <i class="oi oi-trash"></i>
                    </button>
                </td>
            </tr>
        </Virtualize>
        }
    </tbody>
</table>
