@page "/cart"

<PageTitle>K & A Dreamdeals - Shopping Cart</PageTitle>

<h3>Shopping Cart</h3>

@if (_cartProducts == null || _cartProducts.Count == 0)
{
    <span>@_message</span>
}
else
{
    <div>
        @foreach (var product in _cartProducts)
        {
            <div class="container">
                <div class="image-wrapper">
                    @if (product.ProductImages != null && product.ProductImages.Count > 0)
                    {
                        <img src="@product.ProductImages[0].ImageUrl" class="image" alt="@product.Title">
                    }
                    else
                    {
                        <img src="Images/noImage.jpg" class="image" alt="@product.Title">
                    }
                </div>
                <div class="name">
                    <h5><a href="/product/@product.ProductId">@product.Title</a></h5>
                    <span>@product.ProductTypeName</span>
                    <br />
                    <input type="number" value="@product.Quantity"
                   @onchange="@((ChangeEventArgs e) => UpdateQuantity(e, product))"
                   class="form-control input-quantity"
                   min="1" />
                    <button class="btn-delete" @onclick="@(() => RemoveProductFromCart(product.ProductId, product.ProductTypeId))">
                        Delete
                    </button>
                </div>
                <div class="cart-product-price">€@(product.Price * product.Quantity)</div>
            </div>
        }
        <div class="cart-product-price">
            Total (@_cartProducts.Count): €@_cartProducts.Sum(product => @product.Price * product.Quantity)
        </div>
    </div>

    @if (_isAuthenticated)
    {
        <hr />

        <div>
            <h5>Delevery Address</h5>
            <AddressForm OnAddressChange="AssignAddress" />
        </div>
    }

    <hr />

    <div class="row">
        <div class="col">
            <span>Payment Mode</span>
        </div>
        <div class="col">
            <span class="me-1">Cash on</span>

            <select @bind="_orderType">
                @foreach (var orderT in Enum.GetValues(typeof(OrderType)))
                {
                    <option value="@orderT">@orderT</option>
                }
            </select>

            @if (_orderType.Equals(OrderType.Levering))
            {
                <span class="ms-1">Allen in Geraardsbergen en omgeving</span>
            }
        </div>
        <div class="col">
            <button @onclick="PlaceOrder" class="btn btn-success float-end mt-1" disabled="@(_isAuthenticated && !_isAddress)">Checkout</button>
        </div>
    </div>
}
