@page "/orders/{orderId:int}"

<PageTitle>K & A Dreamdeals - Order Detail</PageTitle>

@if (_order == null)
{
    <span>Loading order...</span>
}
else
{
    <h3>Order from @_order.OrderDate</h3>

    <div>
        @foreach (var product in _order.Products)
        {
            <div class="container">
                <div class="image-wrapper">
                    @if (product.ProductImages != null && product.ProductImages.Count > 0)
                    {
                        <img src="@product.ProductImages[0].ImageUrl" class="image" alt="@product.Title">
                    }
                    else
                    {
                        <img src="Images/noImage.jpg" class="image" alt="@product.Title">
                    }
                </div>
                <div class="name">
                    <h5><a href="/product/@product.ProductId">@product.Title</a></h5>
                    <span>@product.ProductTypeName</span><br />
                    <span>Quantity: @product.Quantity</span>
                </div>
                <div class="product-price">€@product.TotalPrice</div>
            </div>
        }
        <div class="product-price">
            Total: €@_order.TotalPrice
        </div>
    </div>
}
