@page "/orders"

<PageTitle>K & A Dreamdeals - My Orders</PageTitle>

<h3>Orders</h3>

@if (orders == null)
{
    <span>Loading your orders...</span>
}
else if (orders.Count <= 0)
{
    <span>You have no orders, yet.</span>
}
else
{
    foreach (var order in orders)
    {
        <div class="container @(order.IsDone ? "container-valid" : "container-error")">
            <div class="image-wrapper">
                <img src="@order.ProductImageUrl" class="image" />
            </div>
            <div class="details">
                <h4>@order.ProductName</h4>
                <span>@order.OrderDate</span><br />
                <a href="orders/@order.Id">Show more...</a><br />
                <span>@Enum.GetName(typeof(OrderType), order.OrderType)</span>
            </div>
            <div class="order-price">€@order.TotalPrice</div>
        </div>
    }
}
