@page "/profile"

<PageTitle>K & A Dreamdeals - Profile</PageTitle>

@if (_user == null)
{
    <Loading Style="min-height:450px" />
}
else if (!string.IsNullOrWhiteSpace(_errorMessage))
{
    <strong>@_errorMessage</strong>
}
else
{
    <div class="main">
        <div class="card-wrapper">
            <div class="profile-card border-primary" style="@(!_isEdit ? "padding-top: 5rem;" : null)">
                @if (!_isEdit)
                {
                    <h3 class="profile-name">@_user.FirstName @_user.LastName</h3>
                    <img class="profile-photo rounded-circle" src="@(string.IsNullOrWhiteSpace(_user.ImageUrl) ? "Images/user.jpg" : _user.ImageUrl)" alt="User photo" />
                }
                <div class="profile-note">
                    @if (!_isEdit)
                    {
                        <p>
                            @_user.Email<br />
                            Phone Number: @_user.PhoneNumber<br />
                            <button type="button" class="btn btn-primary" @onclick="Edit">Edit</button>
                        </p>
                    }
                    else
                    {
                        <EditForm Model="_user" OnValidSubmit="UpdateUser" class="text-start">
                            <div class="form-group row mb-3 align-items-end">
                                <label for="image" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Image Url</label>
                                <div class="col-sm-8 col-md-9 col-lg-10">
                                    <ImageUpload IsTop="true" OnImageChange="AssignImageUrl" ImgUrl="@_user.ImageUrl" NoImageUrl="Images/user.jpg" ImageStyle="border-radius: 50%;" />
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="firstName" class="col-sm-4 col-md-3 col-lg-2 col-form-label">FirstName</label>
                                <div class="col-sm-8 col-md-9 col-lg-10">
                                    <InputText id="firstName" @bind-Value="_user.FirstName" class="form-control" />
                                    <ValidationMessage For="@(() => _user.FirstName)" />
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="lastName" class="col-sm-4 col-md-3 col-lg-2 col-form-label">LastName</label>
                                <div class="col-sm-8 col-md-9 col-lg-10">
                                    <InputText id="lastName" @bind-Value="_user.LastName" class="form-control" />
                                    <ValidationMessage For="@(() => _user.LastName)" />
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="phoneNumber" class="col-sm-4 col-md-3 col-lg-2 col-form-label">PhoneNumber</label>
                                <div class="col-sm-8 col-md-9 col-lg-10">
                                    <InputMask InputId="phoneNumber" @bind-Value="_user.PhoneNumber" class="form-control" data-mask="00.00.00.00.00" />
                                    <ValidationMessage For="@(() => _user.PhoneNumber)" />
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <div class="col-sm-8 col-md-9 col-lg-10 offset-sm-4 offset-md-3 offset-lg-2">
                                    <button type="submit" class="btn btn-success">Save</button>
                                    <button type="button" class="btn btn-secondary" @onclick="CancelEdit">Cancel</button>
                                </div>
                            </div>
                        </EditForm>
                    }

                    <hr class="bg-primary" />

                    <div class="row">
                        <div class="col-md-6 border-end border-primary">
                            <h5>Delevery Address</h5>
                            <AddressForm LabelClass="col-sm-4 col-md-5 col-lg-4 col-form-label" DivInputClass="col-sm-8 col-md-7 col-lg-8" DivButtonClass="col-sm-8 col-md-7 col-lg-8 offset-sm-4 offset-md-5 offset-lg-4" />
                        </div>
                        <div class="col-md-6 border-start border-primary">
                            <h5>Change Password</h5>

                            @if (!_isPasswordEdit)
                            {
                                <button type="button" class="btn btn-primary" @onclick="EditPassword">Edit</button>
                            }
                            else
                            {
                                <EditForm Model="_request" OnValidSubmit="ChangePassword" class="text-start">
                                    <DataAnnotationsValidator />

                                    <div class="form-group row mb-3">
                                        <label for="password" class="col-sm-4 col-md-5 col-lg-4 col-form-label">New Password</label>
                                        <div class="col-sm-8 col-md-7 col-lg-8">
                                            <InputText id="password" @bind-Value="_request.Password" class="form-control" type="password" />
                                            <ValidationMessage For="@(() => _request.Password)" />
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3">
                                        <label for="confirmPassword" class="col-sm-4 col-md-5 col-lg-4 col-form-label">Confirm New Password</label>
                                        <div class="col-sm-8 col-md-7 col-lg-8">
                                            <InputText id="confirmPassword" @bind-Value="_request.ConfirmPassword" class="form-control" type="password" />
                                            <ValidationMessage For="@(() => _request.ConfirmPassword)" />
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3">
                                        <div class="col-sm-8 col-md-7 col-lg-8 offset-sm-4 offset-md-5 offset-lg-4">
                                            <button type="submit" class="btn btn-success">Save</button>
                                            <button type="button" class="btn btn-secondary" @onclick="CancelPasswordEdit">Cancel</button>
                                        </div>
                                    </div>
                                </EditForm>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @_message
}
