@page "/register"

<PageTitle>K & A Dreamdeals - Register</PageTitle>

<div class="card border-primary">
    <div class="card-header bg-primary text-white">Register</div>
    <div class="card-body">
        <EditForm Model="user" OnValidSubmit="HandleRegistration">
            <DataAnnotationsValidator />

            <div class="form-group row mb-3 align-items-end">
                <label for="image" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Image Url</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <ImageUpload IsTop="true" OnImageChange="AssignImageUrl" ImgUrl="@user.ImageUrl" NoImageUrl="Images/user.jpg" ImageStyle="border-radius: 50%;" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="firstName" class="col-sm-4 col-md-3 col-lg-2 col-form-label">FirstName</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <InputText id="firstName" @bind-Value="user.FirstName" class="form-control" />
                    <ValidationMessage For="@(() => user.FirstName)" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="lastName" class="col-sm-4 col-md-3 col-lg-2 col-form-label">LastName</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <InputText id="lastName" @bind-Value="user.LastName" class="form-control" />
                    <ValidationMessage For="@(() => user.LastName)" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="phoneNumber" class="col-sm-4 col-md-3 col-lg-2 col-form-label">PhoneNumber</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <InputMask InputId="phoneNumber" @bind-Value="user.PhoneNumber" class="form-control" data-mask="00.00.00.00.00" />
                    <ValidationMessage For="@(() => user.PhoneNumber)" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="email" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Email</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <InputText id="email" @bind-Value="user.Email" class="form-control" />
                    <ValidationMessage For="@(() => user.Email)" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="password" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Password</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <InputText id="password" @bind-Value="user.Password" class="form-control" type="password" />
                    <ValidationMessage For="@(() => user.Password)" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="confirmPassword" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Confirm Password</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <InputText id="confirmPassword" @bind-Value="user.ConfirmPassword" class="form-control" type="password" />
                    <ValidationMessage For="@(() => user.ConfirmPassword)" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-sm-8 col-md-9 col-lg-10 offset-sm-4 offset-md-3 offset-lg-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>

            <div class="@messageCssClass">
                <span>@((MarkupString)message)</span>
            </div>
        </EditForm>
    </div>
</div>
